.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  width: 100%;
  height: 3em;
  text-align: center;
  background-color: #9cb2f4;
  padding: 8px 0px 8px 0px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  
}

h1{
margin: 0;
}

.compA{
  background-color: aqua;
  margin: 15px;
  padding: 5px;
}
.compB{
  background-color: rgb(196, 206, 206);
  margin: 15px;
  padding: 5px;
}
.compC{
  background-color: rgb(9, 158, 46);
  margin: 15px;
  padding: 5px;
}